<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A propos</title>
</head>
<body>
    <div style="width: 50%; margin: auto;""">
      
         <!-- affichage contenu de notre entête se trouvant dans le composant header grace a la fonction include -->
         <%- include('./composants/header') %> 

        <section>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore reiciendis unde quae quisquam consequuntur ea quaerat in doloremque maiores corrupti excepturi possimus nemo voluptatum laudantium nulla repudiandae, laborum molestias repellendus.</p>
         
        </section>
    </div>
</body>
</html>