<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A propos</title>
</head>
<body>
    <div style="width: 50%; margin: auto;""">
        <head>
            <h1>Node Application</h1>
            <nav>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/apropos">A propos</a></li>
                </ul>
            </nav>
        </head>
        <section>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore reiciendis unde quae quisquam consequuntur ea quaerat in doloremque maiores corrupti excepturi possimus nemo voluptatum laudantium nulla repudiandae, laborum molestias repellendus.</p>
         
        </section>
    </div>
</body>
</html>