<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <div style="width: 50%; margin: auto;""">
        <!-- <% const name = 'Valentin nas' %>   declaration d'une variable ejs -->
        <p><%= heureConnecter %></p>  <!-- affichage de notre balise heureConnecter déclarer dans notre serveur app.js-->
       
        <head>
            <!-- <h1>Node Application by : <%= name %></h1>  affichage de la variable name dans la balise h1  tout ça, ça se fait plutôt sur le fichier serveur app.js pour notre cas-->
            <h1>Node Application by Valentin nas</h1>
            <nav>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/apropos">A propos</a></li>
                </ul>
            </nav>
        </head>
        <section>
            <form action="">
                <label for="titre">Titre</label> <br>
                <input type="text" name="titre" id="titre"> <br>
                <label for="description">Description</label> <br>
                <textarea name="description" id="description" cols="30" rows="10"></textarea> <br>
                <br>
                <input type="submit" name="Enregistrer" id="">
            </form>
            <p>=======================================</p>
            <section>
                <h2>Liste des notes</h2>
                <!-- affichage des élément du tableau, déclarer dans notre fichier serveur app.js -->
                <ul>
                    <% for(i=0; i<tab.length; i++){ %>
                        <li><%= tab[i].titre + ' : ' + tab[i].desc%></li>
                    <%}%>
                </ul>

            </section>
        </section>
    </div>
</body>
</html>