<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <div style="width: 50%; margin: auto;""">
    
        <!-- affichage contenu de notre entête se trouvant dans le composant header grace a la fonction include -->
        <%- include('./composants/header') %> 
       
       
       
       <section>
            <form action="">
                <label for="titre">Titre</label> <br>
                <input type="text" name="titre" id="titre"> <br>
                <label for="description">Description</label> <br>
                <textarea name="description" id="description" cols="30" rows="10"></textarea> <br>
                <br>
                <input type="submit" name="Enregistrer" id="">
            </form>
            <p>=======================================</p>
            <section>
                <h2>Liste des notes</h2>
                <!-- affichage des élément du tableau, déclarer dans notre fichier serveur app.js -->
                <ul>
                    <% for(i=0; i<tab.length; i++){ %>
                        <li><%= tab[i].titre + ' : ' + tab[i].desc%></li>
                    <%}%>
                </ul>

            </section>
        </section>
    </div>
</body>
</html>